.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
    max-width: 960px;
    margin: 0 auto;
    
   
}

.content :nth-child(even){
    background: #777;
}



img {
    max-width: 100%;
    height: auto;
}